
.imgside {
    border-radius: 55px;
    text-align: center;
}

#imgutm{
    margin-left: 25%;
    margin-top: 25%;
   background-color: aliceblue;
   padding: 2%;
   float: left;
}
nav{
	color: white;
	background:#006266;
	height: 70px;
	width: 100%;
	position: fixed;
	display: flex;
}
nav span p {
    text-align: center;
    font-size: 30px;
    flex: 1;
    padding: 10px;
}
/*
nav ul{
	text-align: left;
}
nav ul li{
	display: inline-block;
}
nav p{
	font-size: 10px;
}
nav p, nav ul{
	flex: 1;
	padding: 10px;
	font-size: 24px;
}
nav ul li a{
	border-radius: 3px;
	color: white;
	padding : 5px 10px;
}
nav ul li a:hover {
	background: white;
	color: #006266;
} */
table{
  height: 50%;
  width: 90%;
  border: none;
  background-color: white;
  text-align: left;
  font-family: Georgia;
  margin-left: auto;
    font-style: bold;
}
table p{
    color: black;
}
table th{
    margin-bottom: 5%;
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}
table tr{
    color: black;
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 30px;
}
#baris
{
   margin-bottom: 100%; 
}
table td{ 
    margin-top: 50px;
    margin-bottom: 50px;
}
.kotak{
  color: white; 
  background-color: white;
  height: 450px;
  width: 800px;
  text-align: left; 
  margin-top: 8.5%;
  margin-left: 200px;
  position: relative;
    margin-right: 60PX;
    border-radius: 5px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-width: 992px) {
	/* Here */
	.col{
		flex: 50%;	
	}
}
@media screen and (max-width: 768px) {
	/* And here to be specific */
	.col{
		flex: 100%;
	}

/*box*/
.box{
    width: 30%;
    height: 20%;
    background: white;
}